extends layout

block content
    h1 #{title}
    ul.list-group
        each student, i in students
            li.list-group-item
            a(href="/student/"+student._id)= student.name +' '+ student.surname